/* This is just an example.  You shouldn't do this. */
#steamgifts_plus_v2-hello
{
}
#steamgifts_plus_v2-toolbar-button
{
  list-style-image: url("chrome://steamgifts_plus_v2/skin/toolbar-button_new.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#steamgifts_plus_v2-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px 0px);
}
[iconsize="small"] #steamgifts_plus_v2-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #steamgifts_plus_v2-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}